@model IEnumerable< Model.BillTagDTO>

@{
    ViewBag.Title = "BillTag";
}

<h2>BillTagQuery</h2>

<table>
    <tr>
        <th>BillTagName</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(x.BillTagName, "Details", new { id = x.BillTagName })
            </td>
        </tr>
    }
    @Html.ActionLink("新增", "Create");
</table>